body {
    height: 100vh;
    background: linear-gradient(to top left, #6379a9, #b6d56f);
}

input {
    background:rgb(201, 193, 193);
    border: 4px solid #eee;
    font-family: inherit;
    color: inherit;
    color: rgb(67, 118, 101);
    font-size: 2rem;
    text-align: center;
}

input:hover {
    border: 4px solid #4CAF50;
    background: #eee;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

button:hover {
    background-color: brown;
}

h1 {
    background: #eee;
    text-align: center;
    color: #909560;
}

div {
    margin-left: 400px;
}

label {
    color:rgb(170, 255, 0);
    font-size: large;
    font-size: 2rem;
}

p {
    color: rgba(255, 0, 0, 0.88);
    font-size: 2rem;
}

